
:global body.course-menu-expanded:not(.ic-no-flex-layout):not(.embedded):not(.is-inside-submission-frame) .ic-Layout-columns {
    display: flex;
    margin-left: 0;
}

:global .ic-app-course-menu {
    position: static; /* fix: Reset for IE */
    position: -webkit-sticky; /* fix: Safari needs prefix */
    position: sticky;
    align-self: flex-start;
}
